.App {
  text-align: center;
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
body{
  overflow: auto;
}

 .frame{
  position: relative;
  margin-top: 5rem;
  width: 960px;
  height: 540px;
} 
.surv{
  bottom: 1rem;
  opacity: 70%;
  position: absolute;
}

.vid{
  position: absolute;
  bottom: 1rem;

}
.dict{
  position: relative;
  top:0;
  display: block;
}
/* .bor{
  border: 2px solid black;
} */
.comp{
  background-color: white;
  opacity: 1;
}
/* html body h1, html body h2, html body h3, html body h4, html body h5, html body h6, html body .h1, html body .h2, html body .h3, html body .h4, html body .h5, html body .h6 {
  font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
} */

